body{
    background-image: url(../images/marauderMapBlank.jpg);
    background-size: 99% 99%;
    background-repeat: no-repeat;
}

section{
    /* min-width: 300px; */
    max-width: 1024px;
    max-height: 98%;
    /* min-height: 768px; */
    /* background-image: url(../images/marauderMapBlank.jpg); */
    /* background-size: cover; */
    /* background-repeat: no-repeat; */
}

.answerRow{
    border-color: darkgoldenrod;
    border-style: ridge;
    border-width: 1px;
}

/* #scoreboardRow{
    position: relative;
    top: 710px;
} */

.scoreButton{
    background: none;
    border: none;
}

/* #questionRow{
    position: relative;
    top: 75px;
    right:60px;
} */

#answerGroupRow{
    position: relative;
    top: 50px;
    left: 50px;
}

#questonContainer{
    width:95%;
}

#question{
    border: burlywood;
    border-style: solid;
    background: none;
}

#wizardLevelImg{
    height: 250px;
    width: 250px;
}

#wizardLevelCard{
    width: 85%;
    margin-left: 13%;
    margin-top: 0%;
    margin-bottom: 0%;
    background: none;
    border-style: none;
}

.cstmContainer{
    min-width: 300px;
    max-width: 960px;
}
