#mainContainer{
    background: url(../IMAGES/marauderMapBlank.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#bg { position: fixed; top: 0; left: 0; }
.bgwidth { width: 100%; }
.bgheight { height: 100%; }

#scoreboardRow{
    margin-bottom: 3%;
}
.answerRow{
    border-color: darkgoldenrod;
    border-style: ridge;
    border-width: 1px;
}

 #scoreboardRow{
    height: 10px;
    margin-bottom: 5%;
}
.scoreLabel{
    text-align: right;
}

.scoreButton{
    background: none;
    border: none;
}

/* #questionRow{
    position: relative;
    top: 75px;
    right:60px;
} */

#answerGroupRow{
    position: relative;
    width: 93%;
    margin-right: 0%;
    margin-left: 3%;

}

#questionContainer{
    width: 95%;
}

#question{
    border: burlywood;
    border-style: solid;
    background: none;
    margin-right: -4%;
}

#wizardLevelImg{
    height: 250px;
    width: 250px;
}

#wizardLevelCard{
    width: 85%;
    margin-left: 13%;
    margin-top: 10px;
    margin-bottom: 0%;
    background: none;
    border-style: none;
}

/* .cstmContainer{
    min-width: 300px;
    max-width: 960px;
} */
